pywin32
comtypes
pypandoc-binary #delete if unused in the future
pymupdf #delete if unused in the future
python-docx #delete if unused in the future
pdf2docx
pdfminer.six
"unstructured[pdf]"
Pillow
python-pptx